.idea
node_modules

src/assets/icon-*.svg
src/assets/*.build.js
src/assets/*.build.min.js
src/assets/*.build.css
src/assets/*.build.min.css
src/assets/*.build.css.map
src/assets/*.build.min.css.map
src/snippets/variables.css.liquid
src/templates/index.settings.liquid
src/templates/index.translations.liquid
src/config/settings_data.json

config.yml

yarn-error.log

dist/
uploads/
